{% extends "base.html" %}

{% block content %}

<h1>ABOUT</h1>
<!-- Container for about text-->
<div class=container>
    <div class="box">
        <p>
            At Lord of the Recipes we aim to deliver a welcoming and inclusive space. The site has a simple motto - let
            the nerds eat! We encourage everyone reading this to sign up, create a recipe or share some love on a recipe
            you enjoy. We want everyone to have fun with the creations! <br><br>
            That said, we do have a few simple, but strict, rules:<br>
            <i class="fas fa-pizza-slice"></i> All fandoms are welcome once the content being displayed is family
            friendly.<br>
            <i class="fas fa-pizza-slice"></i> We do not allow swearing, bullying or offensive material on this site.
            All comments
            and recipes will be approved by admin upon submission to avoid content of this nature being uploaded. <br>
            <i class="fas fa-pizza-slice"></i> While not compulsory, please consider compressing any images using sites
            such as <a href="https://tinypng.com/" target="_blank">this one</a>. It will help reduce any potential
            slowing down of the site. <br>
            <i class="fas fa-pizza-slice"></i> If the recipe you are uploading is not an original we ask that you
            include the link to your source - we are
            not thieves IRL. Any creators who have an issue with their content being distributed on this site will be
            respected and their recipes will be removed immediately.<br>
            <i class="fas fa-pizza-slice"></i> Speaking of not being a thief, any images you choose to upload should be
            original or you should have permission to use them. If a creator reports an image being used without
            permission, the entire recipe will be removed immediately.<br><br>
            If you have any queries, complaints, feedback (or just fancy saying hi), drop us a message in our contact
            form. We'll get back to you as soon as we can.
        </p>
    </div>
</div>

{% endblock %}